/* ── 博客正文全局字体 ── */
.blog-detail__content {
  --pink-soft:        #FF9EC8;
  --pink-hot:         #FF77CC;
  --pink-light:       #ffaaff;
  --pink-bright:      #FFEEF8;
  --pink-peach:       #F39ACD;
  --pink-tender:      #FFF0F5;
  --purple-herrscher: #6D6AA7;

  font-family: "仿宋", FangSong, serif;
}
